*/__pycache__
*.pyc
# experiments/*
experiments-old/
log/
networks/log/
output/*
export
SIDD_Medium_Srgb/*
# SIDD_Medium_Srgb_Patches_512/*
# SIDD_Valid_Srgb_Patches_256/*
TrumpSIDD_Valid_Srgb_Patches_256/*
default_invdn.pth
InvDN_ResUnit_x4.pth
SIDD_Medium_Srgb.zip
ValidationGtBlocksSrgb.mat
ValidationNoisyBlocksSrgb.mat
BenchmarkNoisyBlocksSrgb.mat
SubmitSrgb.mat
output_inference_engine.npy